{
  "openapi": "3.0.4",
  "info": {
    "title": "DMarket trading API",
    "description": "Welcome to the DMarket Trading API section. Our JSON-based API enables you to manage your DMarket inventory through the methods featured below. In order to use the API, please generate your personal API keys in the account settings.\n\nRequest signature instructions\n\nA valid HTTP request to the trading API must include 3 request headers:\n\n1) X-Api-Key: public key (must be a hex string in lowercase)\nTo get you your own public key, use <https://dmarket.com/> (details : <https://dmarket.com/faq#tradingAPI>)\n\n2) X-Sign-Date: timestamp or current time\nExample: 1605619994. Must not be older than 2 minutes from the request time.\n\n3) X-Request-Sign: signature\n\nThe Ed25519 signature scheme is used for signing requests and proving items’ origin and ownership through public-private key pairs. Private and public keys diversification is aimed to provide secure back-to-back communication and the ability to rotate keys in case of security breaches on any side of the integration.\n\nTo make a signature, take the following steps:\n\n1) Build non-signed string formula (HTTP Method) + (Route path + HTTP query params) + (body string) + (timestamp) ). Example:  POST/get-item?Amount=%220.25%22&Limit=%22100%22&Offset=%22150%22&Order=%22desc%22&1605619994)\n\nPath parameters must appear DECODED in the non-signed string (the literal value, e.g. AK-47 | Redline (Field-Tested)), while query string parameters must appear exactly as they are transmitted, i.e. percent-encoded. The URL you actually send is percent-encoded in both cases. This applies to any method that takes a free-text value in the route path.\n\n2) After you’ve created a non-signed string with a default concatenation method, sign it with Ed25519 (NaCl <https://en.wikipedia.org/wiki/NaCl_(software)> \"sign\" is Ed25519) using your secret key.\n3) Hex-encode the 64-byte Ed25519 signature\n4) Add your signature string to HTTP request headers X-Request-Sign (dmar ed25519 signature)\n\nYou can check out examples on <https://github.com/dmarket/dm-trading-tools>.\n\nDMarket uses rate limiting to control the rate of API requests. Please read FAQ for details <https://dmarket.com/faq#startUsingTradingAPI>.",
    "version": "v2.0.0",
    "x-logo": {
      "url": "logo.svg",
      "backgroundColor": "#FFFFFF",
      "altText": "DMarket logo"
    }
  },
  "servers": [
    {
      "url": "https://api.dmarket.com"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "SignDate": [],
      "RequestSign": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "User profile and balance."
    },
    {
      "name": "Buy items",
      "description": "Browse marketplace offers and buy orders (targets), and purchase items."
    },
    {
      "name": "Sell Items",
      "description": "Create, edit, delete and list your sell offers."
    },
    {
      "name": "Sold user items",
      "description": "History of your completed sales."
    },
    {
      "name": "Inventory/items",
      "description": "User inventory, deposits and withdrawals."
    },
    {
      "name": "Aggregator",
      "description": "Aggregated market price data."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Account",
      "tags": [
        "Account"
      ]
    },
    {
      "name": "Trading",
      "tags": [
        "Buy items",
        "Sell Items",
        "Sold user items"
      ]
    },
    {
      "name": "Inventory",
      "tags": [
        "Inventory/items"
      ]
    },
    {
      "name": "Market data",
      "tags": [
        "Aggregator"
      ]
    }
  ],
  "paths": {
    "/account/v1/user": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get user profile",
        "description": "Getting general user profile information.",
        "operationId": "getUserByTokenHandler",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/representation.UserAccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/representation.UserAccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.ErrorRepresentation"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.ErrorRepresentation"
                }
              }
            }
          },
          "default": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/representation.UserAccountResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl 'https://api.dmarket.com/account/v1/user' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\nresult, err = client.call(\"GET\", \"/account/v1/user\")\nprint(result)"
          }
        ]
      }
    },
    "/account/v1/balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account balance",
        "description": "Getting the current USD & DMC balance that is available for trading items / buying subscriptions. The response format is in coins (cents for USD, dimoshi for DMC).",
        "operationId": "getUserBalance",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/representation.UserBalance"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.ErrorRepresentation"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.ErrorRepresentation"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.ErrorRepresentation"
                }
              }
            }
          },
          "default": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/representation.UserBalance"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl 'https://api.dmarket.com/account/v1/balance' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\nresult, err = client.call(\"GET\", \"/account/v1/balance\")\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v1/deposit-assets": {
      "post": {
        "tags": [
          "Sell Items"
        ],
        "summary": "Deposit assets",
        "description": "Transferring items from a 3rd party inventory (e.g. a Steam game) to a DMarket inventory.\n\nThe operation is asynchronous: a successful response means the transfer was registered, not completed. Poll `GET /marketplace-api/v1/deposit-status/{DepositID}` to track the result; for Steam games the id of the created trade offer appears there in `SteamDepositInfo.TradeOfferID`.\n\nItems must be currently tradable on Steam. An item received in a recent trade stays under Steam Trade Protection and cannot be traded again until the protection window set by Steam (7 days) ends: the deposit is registered, but no Steam trade offer is created and the status resolves to `TransferStatusError` with the `InventoryRevoked` error. This restriction is enforced by Steam and applies to every Steam game.",
        "operationId": "DepositAssets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/marketplaceDepositAssetsRequest"
              },
              "example": {
                "AssetID": [
                  "188530139:3106076616:40361121578:730",
                  "0:3938946694:512345678901234567:252490"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplaceDepositAssetsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -X POST 'https://api.dmarket.com/marketplace-api/v1/deposit-assets' \\\n  -H 'Content-Type: application/json' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\" \\\n  -d '{\n  \"AssetID\": [\n    \"188530139:3106076616:40361121578:730\",\n    \"0:3938946694:512345678901234567:252490\"\n  ]\n}'"
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"AssetID\": [\n        \"188530139:3106076616:40361121578:730\",\n        \"0:3938946694:512345678901234567:252490\"\n    ]\n}\nresult, err = client.call(\"POST\", \"/marketplace-api/v1/deposit-assets\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v1/deposit-status/{DepositID}": {
      "get": {
        "tags": [
          "Sell Items"
        ],
        "summary": "Get deposit status",
        "description": "Get information about current deposit transfers.\n\nOf the `TransferStatus` values, a deposit reports only `TransferStatusPending` (registered or in progress), `TransferStatusSuccess` (the items are in the DMarket inventory — `Assets` maps each requested in-game asset id to the assigned DMarket asset id) and `TransferStatusError` (see `Error`).",
        "operationId": "GetDepositStatus",
        "parameters": [
          {
            "name": "DepositID",
            "in": "path",
            "description": "Deposit operation unique identifier.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplaceGetDepositStatusResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl 'https://api.dmarket.com/marketplace-api/v1/deposit-status/e5f6a7b8-c9d0-1234-ef01-567890123456' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\nresult, err = client.call(\"GET\", \"/marketplace-api/v1/deposit-status/e5f6a7b8-c9d0-1234-ef01-567890123456\")\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v2/deposit-blocked-titles": {
      "get": {
        "tags": [
          "Sell Items"
        ],
        "summary": "List titles blocked for deposit",
        "description": "Get the titles of a game that DMarket currently refuses for deposit — those flagged as overstocked (the market already holds enough copies of the title) or with selling switched off. Use it to check whether a title can be sold on DMarket *before* acquiring the item, instead of finding out when `deposit-assets` rejects it.\n\nOnly blocked titles are stored, so this list is the exact set `deposit-assets` refuses: **a title absent from the response is accepted for deposit**.\n\nMatch on the full title string. Exterior and StatTrak™/Souvenir variants are separate titles and are flagged independently — `M4A1-S | Black Lotus (Field-Tested)` being blocked says nothing about `StatTrak™ M4A1-S | Black Lotus (Field-Tested)` or about other exteriors of the same skin.\n\nThe underlying flags are refreshed about once a day. The top-level `updatedAt` reports the most recent change across the whole blocked set of the game, so the response is safe to cache until it moves; each title also carries its own `updatedAt`. Nothing clears a flag once a title stops being pushed, so a long-untouched entry is less trustworthy than a fresh one — use the per-title timestamp if you want to apply your own staleness threshold. `total` and the top-level `updatedAt` are read separately from the page and can briefly disagree with it during a refresh. A game with no flagged titles returns an empty `titles` list rather than an error.\n\n'gameId' param values are: CS2 - a8db, Team Fortress 2 - tf2, Dota 2 - 9a92, Rust - rust.",
        "operationId": "GetDepositBlockedTitles",
        "x-badges": [
          {
            "name": "NEW",
            "color": "#04BA39"
          }
        ],
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "Game identifier. One of: a8db (CS2), 9a92 (Dota 2), tf2, rust.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "a8db",
                "9a92",
                "tf2",
                "rust"
              ]
            },
            "example": "a8db"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of titles to return per page. Range 1..5000, defaults to 1000 when omitted. The blocked list is a few thousand titles per game, so a large page size keeps it to one or two requests.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 5000
            },
            "example": 5000
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor returned from a previous response. Pass it unchanged to get the next page. URL-safe base64 (`-`/`_`) rather than the standard alphabet used by the other v2 listings, so it survives a query string without extra escaping.\n\nThe cursor is only stable for changes past its position. The underlying flags are refreshed once a day and not atomically, so a title alphabetically *before* your cursor that becomes blocked mid-walk is missed by that walk. Complete a walk promptly, and start a fresh walk from no cursor rather than resuming one held across a refresh.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 500,
              "pattern": "^[A-Za-z0-9_-]*={0,2}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplacev2GetDepositBlockedTitlesResponse"
                },
                "example": {
                  "gameId": "a8db",
                  "titles": [
                    {
                      "title": "M4A1-S | Black Lotus (Field-Tested)",
                      "overstocked": true,
                      "sellUnavailable": false,
                      "updatedAt": "2026-05-02T09:12:41Z"
                    },
                    {
                      "title": "SSG 08 | Sans Comic (Factory New)",
                      "overstocked": true,
                      "sellUnavailable": false,
                      "updatedAt": "2026-08-27T21:35:53Z"
                    }
                  ],
                  "updatedAt": "2026-08-27T21:35:53Z",
                  "total": "3983",
                  "cursor": "U1NHIDA4IHwgU2FucyBDb21pYyAoRmFjdG9yeSBOZXcp"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace-api/v2/user/inventory": {
      "get": {
        "tags": [
          "Inventory/items"
        ],
        "summary": "List user inventory",
        "description": "Get user inventory details. Both 3rd party (e.g. Steam) and DMarket inventories are merged into one list. Prices are returned as integer cents. 'gameId' param values are: CS2 - a8db, Team Fortress 2 - tf2, Dota 2 - 9a92, Rust - rust.",
        "operationId": "GetUserInventoryV2",
        "x-badges": [
          {
            "name": "NEW",
            "color": "#04BA39"
          }
        ],
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "Game identifier. One of: a8db (CS2), 9a92 (Dota 2), tf2, rust.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "a8db",
                "9a92",
                "tf2",
                "rust"
              ]
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Filter assets by title prefix (case-insensitive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "treeFilters",
            "in": "query",
            "description": "Attribute filters in comma-separated key=value format. Values must match how the attribute is stored (typically the lowercase Steam string; see allowed values below).\n\nSupported common keys: `tradable`, `inMarket`, `categoryPath`, `type`. Filter by game and title via the top-level `gameId` and `title` query parameters.\n\nCS2 keys: `exterior`, `paintSeed`, `floatPart`, `phase`, `category`, `collection`, `charmName`, `charmExists`, `isProskin`, `fadePercentFrom`, `fadePercentTo`.\n\nTF2 keys: `exterior`, `collection`, `isCraftable`. Dota 2 keys: `hero`.\n\nAllowed CS2 values:\n- `exterior`: `factory new`, `minimal wear`, `field-tested`, `well-worn`, `battle-scarred`, `not painted`\n- `phase`: `phase-1`, `phase-2`, `phase-3`, `phase-4`, `ruby`, `sapphire`, `emerald`, `black-pearl`\n- `floatPart`: `FN-0`..`FN-6`, `MW-0`..`MW-4`, `FT-0`..`FT-4`, `WW-0`..`WW-4`, `BS-0`..`BS-4` (bucketed float ranges per exterior)\n- `category`: `stattrak_tm` (`_tm` is translated to the ™ symbol server-side), `souvenir`, `normal`, `★` (knives)\n\nAllowed TF2 exterior values: `factory new`, `minimal wear`, `field-tested`, `well-worn`, `battle-scarred`, `battle scarred`.\n\nMulti-value: suffix key with `[]`, e.g. `exterior[]=factory new,exterior[]=minimal wear` (URL-encode the space as `%20`).\n\nNegation: prefix key with `not_`, e.g. `not_exterior=factory new`.\n\nRanges: `fadePercentFrom=10,fadePercentTo=90`.\n\nExistence check: `charmExists=true` / `charmExists=false`.\n\nExample: `categoryPath=rifle,exterior[]=factory new,exterior[]=minimal wear`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort field. Supported values: `price`, `title`, `float`, `createdAt`, `updatedAt`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "title",
                "float",
                "createdAt",
                "updatedAt"
              ]
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sort direction. Defaults to `asc` when `orderBy` is set.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page. Range 1..100.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor returned from a previous response.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplacev2GetUserInventoryResponse"
                },
                "example": {
                  "items": [
                    {
                      "attributes": {
                        "backgroundColor": "42413e",
                        "botId": "76561199000000001",
                        "categoryPath": "rifle/ak-47",
                        "classId": "3669724953",
                        "depositLocked": false,
                        "description": "",
                        "cs2": {
                          "category": "CATEGORY_NORMAL",
                          "collection": "the huntsman collection",
                          "family": "redline",
                          "exterior": "EXTERIOR_FIELD_TESTED",
                          "float": "0.2356003224849701",
                          "inspectInGameUri": "steam://run/730//+csgo_econ_action_preview%20S76561199000000001A40000000000D4649654965123456789",
                          "itemType": "rifle",
                          "phase": "",
                          "phaseTitle": "PHASE_TITLE_UNSPECIFIED",
                          "quality": "QUALITY_CLASSIFIED",
                          "rareInfo": "",
                          "paintIndex": 282,
                          "paintSeed": 412,
                          "stickers": [
                            {
                              "id": 812,
                              "name": "Sticker | Natus Vincere | Katowice 2019",
                              "image": "https://cdn.steamstatic.com/apps/730/icons/econ/stickers/kat2019/navi.png",
                              "slot": 0,
                              "wear": "0",
                              "scale": "1",
                              "rotation": "0",
                              "tintId": 0,
                              "collection": "katowice 2019",
                              "rarity": "high grade",
                              "colors": [
                                "COLOR_YELLOW",
                                "COLOR_BLACK"
                              ],
                              "team": "Natus Vincere",
                              "player": "",
                              "offsetX": 0,
                              "offsetY": 0,
                              "offsetZ": 0,
                              "pattern": 0
                            }
                          ],
                          "fadePercent": "0",
                          "rarePattern": "RARE_PATTERN_UNSPECIFIED",
                          "colors": [
                            "COLOR_RED",
                            "COLOR_BLACK"
                          ],
                          "floatPart": "FLOAT_PART_FT_2",
                          "charms": [],
                          "charmPattern": 0,
                          "defIndex": 7,
                          "customName": "",
                          "killEaterScoreType": 0,
                          "killEaterValue": 0,
                          "isProskin": false,
                          "proskin": {
                            "proPlayerOwned": false,
                            "hasHighlights": false,
                            "proPlayerNickname": ""
                          },
                          "inspectInGameTemplateUri": ""
                        },
                        "gameId": "a8db",
                        "gameType": "steam",
                        "imageUri": "https://steamcommunity-a.akamaihd.net/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVf",
                        "inGameAssetId": "8590574520:3669724953:40000000000:730",
                        "itemSlug": "ak-47-redline",
                        "name": "AK-47 | Redline",
                        "nameColor": "d2d2d2",
                        "owner": "5f8a1c3e-9b2d-4e6f-8a1b-2c3d4e5f6a7b",
                        "productId": "a8db:0e2f6f4f7b9c4d2a8e1f3a5c7e9b1d3f",
                        "provider": "CPU",
                        "slug": "ak-47-redline",
                        "steamAssetId": "40000000000",
                        "title": "AK-47 | Redline (Field-Tested)",
                        "tradable": true,
                        "tradeLockDays": 0,
                        "tradeLockDuration": null,
                        "unlockDate": "2026-06-10T18:00:00Z",
                        "type": "rifle",
                        "viewAtSteamUri": "https://steamcommunity.com/profiles/76561199000000001/inventory/#730_2_40000000000",
                        "withdrawable": true,
                        "id": "3d9c9c6a-4f2e-4b83-a1c7-90ab12cd34ef",
                        "overstocked": false,
                        "status": "default",
                        "saleRestricted": false,
                        "withdrawalState8": false,
                        "settlementTime": "2026-06-10T18:00:00Z",
                        "sellUnavailable": false,
                        "depositor": "5f8a1c3e-9b2d-4e6f-8a1b-2c3d4e5f6a7b",
                        "withdrawOnlyEndTime": null,
                        "tradeProtectionRemoved": true,
                        "revertPendingUntil": null
                      },
                      "suggestedPrice": {
                        "currency": "USD",
                        "amount": "15.99"
                      },
                      "offerRecommendedPrice": {
                        "currency": "USD",
                        "amount": "15.49"
                      },
                      "createdAt": "2026-06-17T10:30:00Z",
                      "updatedAt": "2026-07-01T08:12:45Z",
                      "inMarket": true
                    }
                  ],
                  "total": "42",
                  "cursor": ""
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -G 'https://api.dmarket.com/marketplace-api/v2/user/inventory' \\\n  --data-urlencode 'gameId=a8db' \\\n  --data-urlencode 'title=AK-47' \\\n  --data-urlencode 'treeFilters=categoryPath=rifle,exterior[]=factory new' \\\n  --data-urlencode 'orderBy=price' \\\n  --data-urlencode 'orderDir=asc' \\\n  --data-urlencode 'limit=10' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"gameId\": \"a8db\",\n    \"title\": \"AK-47\",\n    \"treeFilters\": \"categoryPath=rifle,exterior[]=factory new\",\n    \"orderBy\": \"price\",\n    \"orderDir\": \"asc\",\n    \"limit\": 10\n}\nresult, err = client.call(\"GET\", \"/marketplace-api/v2/user/inventory\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v1/user-inventory/sync": {
      "post": {
        "tags": [
          "Inventory/items"
        ],
        "summary": "Sync inventory with Steam",
        "description": "Updating DMarket inventory details to sync them with data from Steam.",
        "operationId": "UserInventorySync",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/marketplaceUserInventorySyncRequest"
              },
              "example": {
                "Type": "Inventory",
                "GameID": "CSGO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplaceUserInventorySyncResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -X POST 'https://api.dmarket.com/marketplace-api/v1/user-inventory/sync' \\\n  -H 'Content-Type: application/json' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\" \\\n  -d '{\n  \"Type\": \"Inventory\",\n  \"GameID\": \"CSGO\"\n}'"
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"Type\": \"Inventory\",\n    \"GameID\": \"CSGO\"\n}\nresult, err = client.call(\"POST\", \"/marketplace-api/v1/user-inventory/sync\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v2/user/offers": {
      "get": {
        "tags": [
          "Sell Items"
        ],
        "summary": "List user offers",
        "description": "Get the list of the current user's active sell offers for further management (edit price, remove from sale). Prices are returned as integer cents. 'gameId' param values are: CS2 - a8db, Team Fortress 2 - tf2, Dota 2 - 9a92, Rust - rust.",
        "operationId": "GetUserOffersV2",
        "x-badges": [
          {
            "name": "NEW",
            "color": "#04BA39"
          }
        ],
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "Game identifier. One of: a8db (CS2), 9a92 (Dota 2), tf2, rust.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "a8db",
                "9a92",
                "tf2",
                "rust"
              ]
            },
            "example": "a8db"
          },
          {
            "name": "title",
            "in": "query",
            "description": "Filter offers by title prefix (case-insensitive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "treeFilters",
            "in": "query",
            "description": "Attribute filters in comma-separated key=value format. Values must match how the attribute is stored (typically the lowercase Steam string; see allowed values below).\n\nSupported common keys: `categoryPath`, `type`, `priceCents`, `tradeLockFrom`, `tradeLockTo`. Filter by game and title via the top-level `gameId` and `title` query parameters.\n\nCS2 keys: `exterior`, `paintSeed`, `floatPart`, `phase`, `category`, `collection`, `charmName`, `charmExists`, `sticker`, `isProskin`, `fadePercentFrom`, `fadePercentTo`.\n\nTF2 keys: `exterior`, `collection`, `isCraftable`. Dota 2 keys: `hero`.\n\nAllowed CS2 values:\n- `exterior`: `factory new`, `minimal wear`, `field-tested`, `well-worn`, `battle-scarred`, `not painted`\n- `phase`: `phase-1`, `phase-2`, `phase-3`, `phase-4`, `ruby`, `sapphire`, `emerald`, `black-pearl`\n- `floatPart`: `FN-0`..`FN-6`, `MW-0`..`MW-4`, `FT-0`..`FT-4`, `WW-0`..`WW-4`, `BS-0`..`BS-4` (bucketed float ranges per exterior)\n- `category`: `stattrak_tm` (`_tm` is translated to the ™ symbol server-side), `souvenir`, `normal`, `★` (knives)\n\nAllowed TF2 exterior values: `factory new`, `minimal wear`, `field-tested`, `well-worn`, `battle-scarred`, `battle scarred`.\n\nMulti-value: suffix key with `[]`, e.g. `exterior[]=factory new,exterior[]=minimal wear` (URL-encode the space as `%20`).\n\nNegation: prefix key with `not_`, e.g. `not_exterior=factory new`. Negation is not supported for `charmName`/`sticker`.\n\nRanges: `fadePercentFrom=10,fadePercentTo=90`. Steam trade-lock filtering uses `tradeLockFrom`/`tradeLockTo` (remaining lock in days; `tradeLockFrom` is inclusive, `tradeLockTo` is exclusive).\n\nExistence check: `charmExists=true` / `charmExists=false`.\n\nCharm and sticker filters (`charmName`, `sticker[]`, `charmExists`) apply to CS2 offers only.\n\nExample: `categoryPath=rifle,exterior[]=factory new,exterior[]=minimal wear`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "categoryPath=rifle,exterior[]=factory new"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort field. Supported values: `price`, `title`, `float`, `createdAt`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "title",
                "float",
                "createdAt"
              ]
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sort direction. Defaults to `asc` when `orderBy` is set.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page. Range 1..100.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor returned from a previous response.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplacev2GetUserOffersResponse"
                },
                "example": {
                  "items": [
                    {
                      "attributes": {
                        "backgroundColor": "42413e",
                        "botId": "76561199000000001",
                        "categoryPath": "rifle/ak-47",
                        "classId": "3669724953",
                        "depositLocked": false,
                        "description": "",
                        "cs2": {
                          "category": "CATEGORY_NORMAL",
                          "collection": "the huntsman collection",
                          "family": "redline",
                          "exterior": "EXTERIOR_FIELD_TESTED",
                          "float": "0.2356003224849701",
                          "inspectInGameUri": "steam://run/730//+csgo_econ_action_preview%20S76561199000000001A40000000000D4649654965123456789",
                          "itemType": "rifle",
                          "phase": "",
                          "phaseTitle": "PHASE_TITLE_UNSPECIFIED",
                          "quality": "QUALITY_CLASSIFIED",
                          "rareInfo": "",
                          "paintIndex": 282,
                          "paintSeed": 412,
                          "stickers": [
                            {
                              "id": 812,
                              "name": "Sticker | Natus Vincere | Katowice 2019",
                              "image": "https://cdn.steamstatic.com/apps/730/icons/econ/stickers/kat2019/navi.png",
                              "slot": 0,
                              "wear": "0",
                              "scale": "1",
                              "rotation": "0",
                              "tintId": 0,
                              "collection": "katowice 2019",
                              "rarity": "high grade",
                              "colors": [
                                "COLOR_YELLOW",
                                "COLOR_BLACK"
                              ],
                              "team": "Natus Vincere",
                              "player": "",
                              "offsetX": 0,
                              "offsetY": 0,
                              "offsetZ": 0,
                              "pattern": 0
                            }
                          ],
                          "fadePercent": "0",
                          "rarePattern": "RARE_PATTERN_UNSPECIFIED",
                          "colors": [
                            "COLOR_RED",
                            "COLOR_BLACK"
                          ],
                          "floatPart": "FLOAT_PART_FT_2",
                          "charms": [],
                          "charmPattern": 0,
                          "defIndex": 7,
                          "customName": "",
                          "killEaterScoreType": 0,
                          "killEaterValue": 0,
                          "isProskin": false,
                          "proskin": {
                            "proPlayerOwned": false,
                            "hasHighlights": false,
                            "proPlayerNickname": ""
                          },
                          "inspectInGameTemplateUri": ""
                        },
                        "gameId": "a8db",
                        "gameType": "steam",
                        "imageUri": "https://steamcommunity-a.akamaihd.net/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVf",
                        "inGameAssetId": "8590574520:3669724953:40000000000:730",
                        "itemSlug": "ak-47-redline",
                        "name": "AK-47 | Redline",
                        "nameColor": "d2d2d2",
                        "owner": "5f8a1c3e-9b2d-4e6f-8a1b-2c3d4e5f6a7b",
                        "productId": "a8db:0e2f6f4f7b9c4d2a8e1f3a5c7e9b1d3f",
                        "provider": "CPU",
                        "slug": "ak-47-redline",
                        "steamAssetId": "40000000000",
                        "title": "AK-47 | Redline (Field-Tested)",
                        "tradable": true,
                        "tradeLockDays": 0,
                        "tradeLockDuration": null,
                        "unlockDate": "2026-06-10T18:00:00Z",
                        "type": "rifle",
                        "viewAtSteamUri": "https://steamcommunity.com/profiles/76561199000000001/inventory/#730_2_40000000000",
                        "withdrawable": true,
                        "id": "3d9c9c6a-4f2e-4b83-a1c7-90ab12cd34ef",
                        "overstocked": false,
                        "status": "default",
                        "saleRestricted": false,
                        "withdrawalState8": false,
                        "settlementTime": "2026-06-10T18:00:00Z",
                        "sellUnavailable": false,
                        "depositor": "5f8a1c3e-9b2d-4e6f-8a1b-2c3d4e5f6a7b",
                        "withdrawOnlyEndTime": null,
                        "tradeProtectionRemoved": true,
                        "revertPendingUntil": null
                      },
                      "priceCents": "1599",
                      "createdAt": "2026-06-17T10:30:00Z",
                      "locked": false,
                      "offerId": "c3d4e5f6-1234-4abc-9def-7890abcdef12",
                      "discountPercent": 0
                    }
                  ],
                  "total": "7",
                  "cursor": ""
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -G 'https://api.dmarket.com/marketplace-api/v2/user/offers' \\\n  --data-urlencode 'gameId=a8db' \\\n  --data-urlencode 'title=AK-47' \\\n  --data-urlencode 'treeFilters=categoryPath=rifle,exterior[]=factory new' \\\n  --data-urlencode 'orderBy=createdAt' \\\n  --data-urlencode 'orderDir=desc' \\\n  --data-urlencode 'limit=10' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"gameId\": \"a8db\",\n    \"title\": \"AK-47\",\n    \"treeFilters\": \"categoryPath=rifle,exterior[]=factory new\",\n    \"orderBy\": \"createdAt\",\n    \"orderDir\": \"desc\",\n    \"limit\": 10\n}\nresult, err = client.call(\"GET\", \"/marketplace-api/v2/user/offers\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v1/user-offers/closed": {
      "get": {
        "tags": [
          "Sold user items"
        ],
        "summary": "List user closed offers",
        "description": "Get the list of the user’s closed sell offers. The price amount format is in USD, i.e. 0.5 is 50 cents.",
        "operationId": "GetUserClosedOffers",
        "parameters": [
          {
            "name": "Limit",
            "description": "Limits number of returned closed offers in response.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "OrderDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "OfferCreated.From",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "OfferCreated.To",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "OfferClosed.From",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "OfferClosed.To",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "Cursor",
            "description": "Cursor is next page identifier.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Finalization.From",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "Finalization.To",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "successful",
                  "reverted",
                  "trade_protected"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplaceGetUserClosedOffersResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -G 'https://api.dmarket.com/marketplace-api/v1/user-offers/closed' \\\n  --data-urlencode 'Limit=10' \\\n  --data-urlencode 'OrderDir=desc' \\\n  --data-urlencode 'Status=successful' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"Limit\": 10,\n    \"OrderDir\": \"desc\",\n    \"Status\": \"successful\"\n}\nresult, err = client.call(\"GET\", \"/marketplace-api/v1/user-offers/closed\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v1/targets-by-title/{game_id}/{title}": {
      "get": {
        "tags": [
          "Buy items"
        ],
        "summary": "Find buy orders (targets) by item title",
        "description": "Returns aggregated buy orders (targets) for a specific game and item title. Use this endpoint to see current demand: how many buy orders exist and at what prices.\n\nPath parameters:\n- game_id: Game identifier. One of: a8db (CS2), 9a92 (Dota 2), tf2, rust.\n- title: Exact in-game item title.\n\nResponse contains a list of orders with fields: amount (number of items requested), price (best price for that title and attributes), title, and attributes (quality/rarity/skin parameters, depending on the game).",
        "operationId": "MarketAPI_GetTargetsByTitle",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplaceGetTargetsByTitleResponse"
                },
                "example": {
                  "orders": [
                    {
                      "amount": "2",
                      "price": "155000",
                      "title": "★ Karambit | Doppler (Factory New)",
                      "attributes": {
                        "floatPartValue": "any",
                        "paintSeed": "any",
                        "phase": "phase-2"
                      }
                    },
                    {
                      "amount": "1",
                      "price": "148000",
                      "title": "★ Karambit | Doppler (Factory New)",
                      "attributes": {
                        "floatPartValue": "FN-0",
                        "paintSeed": "any",
                        "phase": "any"
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "description": "Game identifier. One of: a8db (CS2), 9a92 (Dota 2), tf2, rust.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "path",
            "description": "Exact in-game item title, e.g. AK-47 | Redline (Field-Tested). Percent-encode it in the request URL, but use the decoded value when building the request signature — see the signing instructions in the introduction.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\n# The path parameter is signed DECODED, so the non-signed string here is\n#   GET/marketplace-api/v1/targets-by-title/a8db/AK-47 | Redline (Field-Tested)$TIMESTAMP\n# The URL below is percent-encoded. Any encoding that decodes back to that path works —\n# HTTP clients differ in which characters they escape, so the samples below are both valid.\ncurl 'https://api.dmarket.com/marketplace-api/v1/targets-by-title/a8db/AK-47%20%7C%20Redline%20%28Field-Tested%29' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\n# Pass the title DECODED: the signature is built from the decoded path, and the client\n# percent-encodes the URL before sending it.\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\nresult, err = client.call(\"GET\", \"/marketplace-api/v1/targets-by-title/a8db/AK-47 | Redline (Field-Tested)\")\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v1/aggregated-prices": {
      "post": {
        "summary": "Get aggregated market prices for item titles",
        "description": "Returns aggregated pricing for specified item titles, including best buy (order) and best sell (offer) prices and the total number of orders/offers per title. Use this to quickly assess market depth and price levels.\n\nRequest body:\n- filter.game: Game identifier.\n- filter.titles[]: List of exact item titles to aggregate.\n- limit, cursor: Pagination controls.\n\nResponse:\n- aggregatedPrices[]: For each title: orderBestPrice, orderCount, offerBestPrice, offerCount.\n- nextCursor: Use to fetch the next page.",
        "operationId": "MarketAPI_ListAggregatedPrices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplaceListAggregatedPricesResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/marketplaceListAggregatedPricesRequest"
              },
              "example": {
                "filter": {
                  "game": "a8db",
                  "titles": [
                    "AK-47 | Redline (Field-Tested)"
                  ]
                },
                "limit": "100"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Buy items"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -X POST 'https://api.dmarket.com/marketplace-api/v1/aggregated-prices' \\\n  -H 'Content-Type: application/json' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\" \\\n  -d '{\n  \"filter\": {\n    \"game\": \"a8db\",\n    \"titles\": [\n      \"AK-47 | Redline (Field-Tested)\"\n    ]\n  },\n  \"limit\": \"100\"\n}'"
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"filter\": {\n        \"game\": \"a8db\",\n        \"titles\": [\n            \"AK-47 | Redline (Field-Tested)\"\n        ]\n    },\n    \"limit\": \"100\"\n}\nresult, err = client.call(\"POST\", \"/marketplace-api/v1/aggregated-prices\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v2/user/targets": {
      "get": {
        "tags": [
          "Buy items"
        ],
        "summary": "List user targets",
        "description": "Get the list of the current user's targets. Prices are returned as integer cents. 'gameId' param values are: CS2 - a8db, Team Fortress 2 - tf2, Dota 2 - 9a92, Rust - rust.",
        "operationId": "GetUserTargetsV2",
        "x-badges": [
          {
            "name": "NEW",
            "color": "#04BA39"
          }
        ],
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "Game identifier. One of: a8db (CS2), 9a92 (Dota 2), tf2, rust.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "a8db",
                "9a92",
                "tf2",
                "rust"
              ]
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Filter targets by title prefix (case-insensitive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "treeFilters",
            "in": "query",
            "description": "Attribute filters in comma-separated key=value format. Values must match how the attribute is stored (typically the lowercase Steam string; see allowed values below).\n\nSupported common keys: `categoryPath`, `amount`, `status`. Filter by game, title, and price via the top-level `gameId`, `title`, and `priceFrom`/`priceTo` query parameters.\n\nCS2 keys: `category`, `exterior`, `floatPart`, `isAdvanced`, `paintSeed`, `phase`.\n\nAllowed CS2 values:\n- `exterior`: `factory new`, `minimal wear`, `field-tested`, `well-worn`, `battle-scarred`, `not painted`\n- `phase`: `phase-1`, `phase-2`, `phase-3`, `phase-4`, `ruby`, `sapphire`, `emerald`, `black-pearl`\n- `floatPart`: `FN-0`..`FN-6`, `MW-0`..`MW-4`, `FT-0`..`FT-4`, `WW-0`..`WW-4`, `BS-0`..`BS-4` (bucketed float ranges per exterior)\n- `category`: `stattrak_tm` (`_tm` is translated to the ™ symbol server-side), `souvenir`, `normal`, `★` (knives)\n\nMulti-value: suffix key with `[]`, e.g. `exterior[]=factory new,exterior[]=minimal wear` (URL-encode the space as `%20`).\n\nNegation: prefix key with `not_`, e.g. `not_exterior=factory new`.\n\nExample: `categoryPath=rifle,exterior[]=factory new`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priceFrom",
            "in": "query",
            "description": "Lower bound of the target price range in cents (inclusive).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "priceTo",
            "in": "query",
            "description": "Upper bound of the target price range in cents (inclusive).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort field. Supported values: `price`, `title`, `createdAt`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "title",
                "createdAt"
              ]
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sort direction. Defaults to `asc` when `orderBy` is set.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page. Range 1..100.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor returned from a previous response.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplacev2GetUserTargetsResponse"
                },
                "example": {
                  "items": [
                    {
                      "targetId": "9b1f8a2c-3d4e-4f5a-8b6c-7d8e9f0a1b2c",
                      "title": "★ Karambit | Doppler (Factory New)",
                      "amount": "1",
                      "status": "TARGET_STATUS_ACTIVE",
                      "priceCents": "155000",
                      "attributes": {
                        "categoryPath": "knife/karambit",
                        "image": "https://steamcommunity-a.akamaihd.net/economy/image/class/730/520025252",
                        "title": "★ Karambit | Doppler (Factory New)",
                        "name": "★ Karambit | Doppler",
                        "cs2": {
                          "category": "CATEGORY_NORMAL",
                          "exterior": "EXTERIOR_FACTORY_NEW",
                          "phase": "PHASE_TITLE_PHASE_2",
                          "paintSeed": 0,
                          "floatPart": "FLOAT_PART_UNSPECIFIED",
                          "isAdvanced": true
                        }
                      },
                      "createdAt": "2026-07-01T12:00:00Z",
                      "updatedAt": "2026-07-01T12:00:00Z"
                    }
                  ],
                  "total": "3",
                  "cursor": ""
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -G 'https://api.dmarket.com/marketplace-api/v2/user/targets' \\\n  --data-urlencode 'gameId=a8db' \\\n  --data-urlencode 'title=AK-47' \\\n  --data-urlencode 'treeFilters=categoryPath=rifle,exterior[]=factory new' \\\n  --data-urlencode 'orderBy=price' \\\n  --data-urlencode 'orderDir=asc' \\\n  --data-urlencode 'limit=10' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"gameId\": \"a8db\",\n    \"title\": \"AK-47\",\n    \"treeFilters\": \"categoryPath=rifle,exterior[]=factory new\",\n    \"orderBy\": \"price\",\n    \"orderDir\": \"asc\",\n    \"limit\": 10\n}\nresult, err = client.call(\"GET\", \"/marketplace-api/v2/user/targets\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v1/user-targets/closed": {
      "get": {
        "tags": [
          "Buy items"
        ],
        "summary": "List user closed targets",
        "description": "Get the list of the user’s closed targets. The price amount format is in USD, i.e. 0.5 is 50 cents.",
        "operationId": "GetUserClosedTargets",
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "description": "Limits number of returned closed targets in response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "OrderDir",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "name": "TargetCreated.From",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "TargetCreated.To",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "TargetClosed.From",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "TargetClosed.To",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "Cursor",
            "description": "Cursor is next page identifier.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Finalization.From",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "Finalization.To",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1730419200"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "successful",
                  "reverted",
                  "trade_protected"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplaceGetUserClosedTargetsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -G 'https://api.dmarket.com/marketplace-api/v1/user-targets/closed' \\\n  --data-urlencode 'Limit=10' \\\n  --data-urlencode 'OrderDir=desc' \\\n  --data-urlencode 'Status=successful' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"Limit\": 10,\n    \"OrderDir\": \"desc\",\n    \"Status\": \"successful\"\n}\nresult, err = client.call(\"GET\", \"/marketplace-api/v1/user-targets/closed\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v1/user-targets/create": {
      "post": {
        "tags": [
          "Buy items"
        ],
        "summary": "Create targets",
        "description": "The request for target creation requires the following fields: \"GameID\" param (values are: CS2 - a8db, Team Fortress 2 - tf2, Dota 2 - 9a92, Rust - rust) and array of \"Targets\". The price amount format is in USD, i.e. 0.5 is 50 cents, \"Title\" - full item name.\nAlso, additional attributes (\"Attrs\" field in #/components/schemas/marketplaceCreateTargetRequest) for each item such as \"phase\", \"floatPartValue\" and \"paintSeed\" are available. You can check possible values of additional attributes here.\nLimitations: maximum \"Amount\" value is 100; maximum quantity of targets in one request is 100; maximum number of created targets for one game is individual for each user and can be different for each game. You can contact our customer support team to find out your Target's limit.",
        "operationId": "CreateTargets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/marketplaceCreateTargetsRequest"
              },
              "example": {
                "GameID": "a8db",
                "Targets": [
                  {
                    "Amount": "1",
                    "Price": {
                      "Currency": "USD",
                      "Amount": 10.5
                    },
                    "Title": "AK-47 | Redline (Field-Tested)",
                    "Attrs": {
                      "floatPartValue": "FT-0"
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplaceCreateTargetsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -X POST 'https://api.dmarket.com/marketplace-api/v1/user-targets/create' \\\n  -H 'Content-Type: application/json' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\" \\\n  -d '{\n  \"GameID\": \"a8db\",\n  \"Targets\": [\n    {\n      \"Amount\": \"1\",\n      \"Price\": {\n        \"Currency\": \"USD\",\n        \"Amount\": 10.5\n      },\n      \"Title\": \"AK-47 | Redline (Field-Tested)\",\n      \"Attrs\": {\n        \"floatPartValue\": \"FT-0\"\n      }\n    }\n  ]\n}'"
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"GameID\": \"a8db\",\n    \"Targets\": [\n        {\n            \"Amount\": \"1\",\n            \"Price\": {\n                \"Currency\": \"USD\",\n                \"Amount\": 10.5\n            },\n            \"Title\": \"AK-47 | Redline (Field-Tested)\",\n            \"Attrs\": {\n                \"floatPartValue\": \"FT-0\"\n            }\n        }\n    ]\n}\nresult, err = client.call(\"POST\", \"/marketplace-api/v1/user-targets/create\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v1/user-targets/delete": {
      "post": {
        "tags": [
          "Buy items"
        ],
        "summary": "Remove targets",
        "description": "Remove targets.",
        "operationId": "DeleteTargets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/marketplaceDeleteTargetsRequest"
              },
              "example": {
                "Targets": [
                  {
                    "TargetID": "d4e5f6a7-b8c9-0123-def0-456789012345"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplaceDeleteTargetsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -X POST 'https://api.dmarket.com/marketplace-api/v1/user-targets/delete' \\\n  -H 'Content-Type: application/json' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\" \\\n  -d '{\n  \"Targets\": [\n    {\n      \"TargetID\": \"d4e5f6a7-b8c9-0123-def0-456789012345\"\n    }\n  ]\n}'"
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"Targets\": [\n        {\n            \"TargetID\": \"d4e5f6a7-b8c9-0123-def0-456789012345\"\n        }\n    ]\n}\nresult, err = client.call(\"POST\", \"/marketplace-api/v1/user-targets/delete\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v2/offers:batchCreate": {
      "post": {
        "tags": [
          "Sell Items"
        ],
        "summary": "Batch create offers",
        "description": "Create multiple offers in a single request.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/marketplacev2BatchCreateOffersRequest"
              },
              "example": {
                "requests": [
                  {
                    "assetId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "priceCents": "1599"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplacev2BatchCreateOffersResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -X POST 'https://api.dmarket.com/marketplace-api/v2/offers:batchCreate' \\\n  -H 'Content-Type: application/json' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\" \\\n  -d '{\n  \"requests\": [\n    {\n      \"assetId\": \"a1b2c3d4-e5f6-7890-abcd-ef1234567890\",\n      \"priceCents\": 1599\n    }\n  ]\n}'"
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"requests\": [\n        {\n            \"assetId\": \"a1b2c3d4-e5f6-7890-abcd-ef1234567890\",\n            \"priceCents\": 1599\n        }\n    ]\n}\nresult, err = client.call(\"POST\", \"/marketplace-api/v2/offers:batchCreate\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v2/offers:batchUpdate": {
      "post": {
        "tags": [
          "Sell Items"
        ],
        "summary": "Batch update offers",
        "description": "Update multiple offers in a single request.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/marketplacev2BatchUpdateOffersRequest"
              },
              "example": {
                "requests": [
                  {
                    "offerId": "c3d4e5f6-a7b8-9012-cdef-345678901234",
                    "priceCents": "1799"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplacev2BatchUpdateOffersResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -X POST 'https://api.dmarket.com/marketplace-api/v2/offers:batchUpdate' \\\n  -H 'Content-Type: application/json' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\" \\\n  -d '{\n  \"requests\": [\n    {\n      \"offerId\": \"c3d4e5f6-a7b8-9012-cdef-345678901234\",\n      \"priceCents\": 1799\n    }\n  ]\n}'"
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"requests\": [\n        {\n            \"offerId\": \"c3d4e5f6-a7b8-9012-cdef-345678901234\",\n            \"priceCents\": 1799\n        }\n    ]\n}\nresult, err = client.call(\"POST\", \"/marketplace-api/v2/offers:batchUpdate\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v2/offers:batchDelete": {
      "post": {
        "tags": [
          "Sell Items"
        ],
        "summary": "Batch delete offers",
        "description": "Delete multiple offers in a single request.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/marketplacev2BatchDeleteOffersRequest"
              },
              "example": {
                "requests": [
                  {
                    "offerId": "c3d4e5f6-a7b8-9012-cdef-345678901234"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplacev2BatchDeleteOffersResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -X POST 'https://api.dmarket.com/marketplace-api/v2/offers:batchDelete' \\\n  -H 'Content-Type: application/json' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\" \\\n  -d '{\n  \"requests\": [\n    {\n      \"offerId\": \"c3d4e5f6-a7b8-9012-cdef-345678901234\"\n    }\n  ]\n}'"
          },
          {
            "lang": "Python",
            "label": "Python (dm-trading-tools)",
            "source": "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"requests\": [\n        {\n            \"offerId\": \"c3d4e5f6-a7b8-9012-cdef-345678901234\"\n        }\n    ]\n}\nresult, err = client.call(\"POST\", \"/marketplace-api/v2/offers:batchDelete\", payload=payload)\nprint(result)"
          }
        ]
      }
    },
    "/marketplace-api/v2/offers": {
      "get": {
        "tags": [
          "Buy items"
        ],
        "summary": "List marketplace offers",
        "description": "Get the list of offers currently available for purchase on the DMarket storefront. Prices are returned as integer cents. 'gameId' param values are: CS2 - a8db, Team Fortress 2 - tf2, Dota 2 - 9a92, Rust - rust.",
        "operationId": "GetMarketplaceOffersV2",
        "x-badges": [
          {
            "name": "NEW",
            "color": "#04BA39"
          }
        ],
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "Game identifier. One of: a8db (CS2), 9a92 (Dota 2), tf2, rust.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "a8db",
                "9a92",
                "tf2",
                "rust"
              ]
            },
            "example": "a8db"
          },
          {
            "name": "title",
            "in": "query",
            "description": "Filter offers by title prefix (case-insensitive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "treeFilters",
            "in": "query",
            "description": "Attribute filters in comma-separated key=value format. Values must match how the attribute is stored (typically the lowercase Steam string; see allowed values below).\n\nSupported common keys: `categoryPath`, `type`, `tradeLockFrom`, `tradeLockTo`. Filter by game, title, and price via the top-level `gameId`, `title`, and `priceFrom`/`priceTo` query parameters.\n\nCS2 keys: `exterior`, `paintSeed`, `floatPart`, `phase`, `category`, `collection`, `charmName`, `charmExists`, `sticker`, `isProskin`, `fadePercentFrom`, `fadePercentTo`.\n\nTF2 keys: `exterior`, `collection`, `isCraftable`. Dota 2 keys: `hero`.\n\nAllowed CS2 values:\n- `exterior`: `factory new`, `minimal wear`, `field-tested`, `well-worn`, `battle-scarred`, `not painted`\n- `phase`: `phase-1`, `phase-2`, `phase-3`, `phase-4`, `ruby`, `sapphire`, `emerald`, `black-pearl`\n- `floatPart`: `FN-0`..`FN-6`, `MW-0`..`MW-4`, `FT-0`..`FT-4`, `WW-0`..`WW-4`, `BS-0`..`BS-4` (bucketed float ranges per exterior)\n- `category`: `stattrak_tm` (`_tm` is translated to the ™ symbol server-side), `souvenir`, `normal`, `★` (knives)\n\nAllowed TF2 exterior values: `factory new`, `minimal wear`, `field-tested`, `well-worn`, `battle-scarred`, `battle scarred`.\n\nMulti-value: suffix key with `[]`, e.g. `exterior[]=factory new,exterior[]=minimal wear` (URL-encode the space as `%20`).\n\nNegation: prefix key with `not_`, e.g. `not_exterior=factory new`. Negation is not supported for `charmName`/`sticker`.\n\nRanges: `fadePercentFrom=10,fadePercentTo=90`. Steam trade-lock filtering uses `tradeLockFrom`/`tradeLockTo` (remaining lock in days; `tradeLockFrom` is inclusive, `tradeLockTo` is exclusive).\n\nExistence check: `charmExists=true` / `charmExists=false`.\n\nCharm and sticker filters (`charmName`, `sticker[]`, `charmExists`) apply to CS2 offers only.\n\nExample: `categoryPath=rifle,exterior[]=factory new,exterior[]=minimal wear`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "categoryPath=rifle,exterior[]=factory new"
          },
          {
            "name": "priceFrom",
            "in": "query",
            "description": "Lower bound of the offer price range in cents (inclusive).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "priceTo",
            "in": "query",
            "description": "Upper bound of the offer price range in cents (inclusive).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort field. Supported values: `price`, `title`, `float`, `createdAt`, `discount`.\n\n`discount` sorts by the offer's discount percent versus the appraiser's global market price; use `orderBy=discount&orderDir=desc` for best discount first. Offers without a discount come last, tie-broken by creation time (oldest first).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "title",
                "float",
                "createdAt",
                "discount"
              ]
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sort direction. Defaults to `asc` when `orderBy` is set.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page. Range 1..100.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor returned from a previous response.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketplacev2GetMarketplaceOffersResponse"
                },
                "example": {
                  "items": [
                    {
                      "attributes": {
                        "backgroundColor": "42413e",
                        "botId": "76561199000000001",
                        "categoryPath": "rifle/ak-47",
                        "classId": "3669724953",
                        "depositLocked": false,
                        "description": "",
                        "cs2": {
                          "category": "CATEGORY_NORMAL",
                          "collection": "the huntsman collection",
                          "family": "redline",
                          "exterior": "EXTERIOR_FIELD_TESTED",
                          "float": "0.2356003224849701",
                          "inspectInGameUri": "steam://run/730//+csgo_econ_action_preview%20S76561199000000001A40000000000D4649654965123456789",
                          "itemType": "rifle",
                          "phase": "",
                          "phaseTitle": "PHASE_TITLE_UNSPECIFIED",
                          "quality": "QUALITY_CLASSIFIED",
                          "rareInfo": "",
                          "paintIndex": 282,
                          "paintSeed": 412,
                          "stickers": [
                            {
                              "id": 812,
                              "name": "Sticker | Natus Vincere | Katowice 2019",
                              "image": "https://cdn.steamstatic.com/apps/730/icons/econ/stickers/kat2019/navi.png",
                              "slot": 0,
                              "wear": "0",
                              "scale": "1",
                              "rotation": "0",
                              "tintId": 0,
                              "collection": "katowice 2019",
                              "rarity": "high grade",
                              "colors": [
                                "COLOR_YELLOW",
                                "COLOR_BLACK"
                              ],
                              "team": "Natus Vincere",
                              "player": "",
                              "offsetX": 0,
                              "offsetY": 0,
                              "offsetZ": 0,
                              "pattern": 0
                            }
                          ],
                          "fadePercent": "0",
                          "rarePattern": "RARE_PATTERN_UNSPECIFIED",
                          "colors": [
                            "COLOR_RED",
                            "COLOR_BLACK"
                          ],
                          "floatPart": "FLOAT_PART_FT_2",
                          "charms": [],
                          "charmPattern": 0,
                          "defIndex": 7,
                          "customName": "",
                          "killEaterScoreType": 0,
                          "killEaterValue": 0,
                          "isProskin": false,
                          "proskin": {
                            "proPlayerOwned": false,
                            "hasHighlights": false,
                            "proPlayerNickname": ""
                          },
                          "inspectInGameTemplateUri": ""
                        },
                        "gameId": "a8db",
                        "gameType": "steam",
                        "imageUri": "https://steamcommunity-a.akamaihd.net/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVf",
                        "inGameAssetId": "8590574520:3669724953:40000000000:730",
                        "itemSlug": "ak-47-redline",
                        "name": "AK-47 | Redline",
                        "nameColor": "d2d2d2",
                        "owner": "5f8a1c3e-9b2d-4e6f-8a1b-2c3d4e5f6a7b",
                        "productId": "a8db:0e2f6f4f7b9c4d2a8e1f3a5c7e9b1d3f",
                        "provider": "CPU",
                        "slug": "ak-47-redline",
                        "steamAssetId": "40000000000",
                        "title": "AK-47 | Redline (Field-Tested)",
                        "tradable": true,
                        "tradeLockDays": 0,
                        "tradeLockDuration": null,
                        "unlockDate": "2026-06-10T18:00:00Z",
                        "type": "rifle",
                        "viewAtSteamUri": "https://steamcommunity.com/profiles/76561199000000001/inventory/#730_2_40000000000",
                        "withdrawable": true,
                        "id": "3d9c9c6a-4f2e-4b83-a1c7-90ab12cd34ef",
                        "overstocked": false,
                        "status": "default",
                        "saleRestricted": false,
                        "withdrawalState8": false,
                        "settlementTime": "2026-06-10T18:00:00Z",
                        "sellUnavailable": false,
                        "depositor": "5f8a1c3e-9b2d-4e6f-8a1b-2c3d4e5f6a7b",
                        "withdrawOnlyEndTime": null,
                        "tradeProtectionRemoved": true,
                        "revertPendingUntil": null
                      },
                      "priceCents": "1599",
                      "createdAt": "2026-06-17T10:30:00Z",
                      "locked": false,
                      "offerId": "f7c1b8e2-9a3d-4e6f-bb12-3a5c9d0e1f23",
                      "discountPercent": 12.5
                    }
                  ],
                  "total": "128",
                  "cursor": "eyJvZmZzZXQiOjEwfQ=="
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
[...]
